In [1]:
import pandas as pd

In [2]:
time_sentences = ["Monday: The doctors's appointment is at 2:45pm.",
                 "Tuesday: The dentist's appointment is at 11:30 am.",
                 "Wendnesday: At 7:00pm, there is a basketball game!",
                 "Thursday: Be back home by 11:15 pm at the latest.",
                 "Friday: Take the train at 08:10 am, arrive at 09:00am."]

In [4]:
df = pd.DataFrame(time_sentences, columns = ['text'])

In [5]:
df

                                                text
0    Monday: The doctors's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wendnesday: At 7:00pm, there is a basketball g...
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

In [10]:
df['text'].str.len()

0    47
1    50
2    50
3    49
4    54
Name: text, dtype: int64

In [11]:
df['text'].str.split().str.len()

0     7
1     8
2     8
3    10
4    10
Name: text, dtype: int64

In [12]:
df['text'].str.contains('appointment')

0     True
1     True
2    False
3    False
4    False
Name: text, dtype: bool

In [13]:
df['text'].str.count(r'\d')

0    3
1    4
2    3
3    4
4    8
Name: text, dtype: int64

In [14]:
df['text'].str.findall(r'\d')

0                   [2, 4, 5]
1                [1, 1, 3, 0]
2                   [7, 0, 0]
3                [1, 1, 1, 5]
4    [0, 8, 1, 0, 0, 9, 0, 0]
Name: text, dtype: object

In [15]:
df['text'].str.findall(r'(\d?\d):(\d\d)')

0               [(2, 45)]
1              [(11, 30)]
2               [(7, 00)]
3              [(11, 15)]
4    [(08, 10), (09, 00)]
Name: text, dtype: object

In [16]:
df['text'].str.replace(r'\w+day\b', '???')

<ipython-input-16-67ace3c45c8d>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text'].str.replace(r'\w+day\b', '???')

0         ???: The doctors's appointment is at 2:45pm.
1       ???: The dentist's appointment is at 11:30 am.
2          ???: At 7:00pm, there is a basketball game!
3         ???: Be back home by 11:15 pm at the latest.
4    ???: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [18]:
df['text'].str.replace(r'(\w+day\b)', lambda x: x.groups()[0][:3])

<ipython-input-18-029dae871195>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text'].str.replace(r'(\w+day\b)', lambda x: x.groups()[0][:3])

0         Mon: The doctors's appointment is at 2:45pm.
1       Tue: The dentist's appointment is at 11:30 am.
2          Wen: At 7:00pm, there is a basketball game!
3         Thu: Be back home by 11:15 pm at the latest.
4    Fri: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [19]:
df['text'].str.extract(r'(\d?\d):(\d\d)')

    0   1
0   2  45
1  11  30
2   7  00
3  11  15
4  08  10

In [22]:
df['text'].str.extractall(r'((\d?\d):(\d\d) ?([ap]m))')

                0   1   2   3
  match
0 0        2:45pm   2  45  pm
1 0      11:30 am  11  30  am
2 0        7:00pm   7  00  pm
3 0      11:15 pm  11  15  pm
4 0      08:10 am  08  10  am
  1       09:00am  09  00  am

In [ ]:
df['text'].str.extractall(r'(?P<time>(?P<hour>\d?\d):()))